#exit{
    margin-bottom: 5px;
    margin-left: 40%;
    margin-top: 5px;
    padding-top: 5px;
    cursor: pointer;
    color: purple;
    font-weight: bold;
    

}
#exit:hover{
    border-radius: 10%;

    /* box-shadow: 0 22px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */

}

p{
    margin-bottom: 270px;
    font-size: 2vh;
    text-align: justify;
}