#exit{
    margin-bottom: 5px;
    margin-left: 40%;
    margin-top: 5px;
    padding-top: 5px;
    cursor: pointer;
    color: purple;
    font-weight: bold;
    

}
#exit:hover{
    border-radius: 10%;
}

p{
    margin-bottom: 270px;
    font-size: 2vh;
    text-align: justify;
}